<div class="container">
  <h2>Crea nuovo Modello:</h2><br>
    <form class="form-inline" role="form">
      <div>
        <div class="row">
          <div class="form-group col-sm-6" >
            <label for="modello">Inserisci Modello :</label>
            <input type="text" class="form-control" name="modello" placeholder="Ins. nome Modello" required>
            
          </div>
          <div class="form-group col-sm-6">
            <label  for="descrizione">Descrizione :</label>
              <input type="text" class="form-control" name="descrizione" placeholder="Inserisci descrizione" required>
          </div> 
        </div> 
        <br/><br/><br/>
        
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="giorni">Inserisci num. giorni :</label>
            <input type="number" min="1" max="365" class="form-control" name="giorni" placeholder="Giorni" 
              ng-model='num' required>
             <button type="button" class="btn btn-info"  ng-click="addDayToList(num)">espandi</button>
          
            <div class="btn-group" role="group">
             <button type="button" class="btn btn-default disabled" ng-repeat="(day,ranges) in listDay">
              {{day}}
             </button>
            </div>
          </div> 
        </div> 

        <br>
        <label for="persona">Giorni : {{ listDay |json }}</label>
        
        
        

        <div class="row">
          
            <div ng-repeat="(day,ranges) in listDay" class="col-md-4">
            <br>
              <button type="button" class="btn btn-primary"  ng-click="removeDay(day)" >
              <span class="glyphicon glyphicon-remove" aria-hidden="true" data-title="Rimuovi" bs-tooltip></span>
                Giorno {{day}}
              </button>
                  
              <div ng-repeat="range in ranges"><br>
                <div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">
                  <label class="control-label"><i class="fa fa-clock-o"></i>Dalle</label>
                  <input type="text" class="form-control" size="8" ng-model="range.da" name="da" bs-timepicker required>
                </div>
                 
                <div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">
                  <label class="control-label"><i class="fa fa-clock-o"></i>Alle</label>
                  <input type="text" class="form-control" size="8" ng-model="range.a" name="a" bs-timepicker required>
                </div>
                     
                <button type="button" class="btn btn-danger" aria-label="Left Align" data-title="Rimuovi" bs-tooltip ng-click="removeRange(day,range)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
               </div>
                <br>
                <button type="button" class="btn btn-warning" ng-click="addRange(day)">Aggiungi range</button>
            </div>
          
         </div>      
            
      </div>
      <br>
      <div class="row">  
        <div class="form-group col-sm-12">
          <div align="center" ><br><br>
          
            <input type="submit" class="btn btn-success " value="Crea Modello" >
          </div>
        </div>
      </div>
  </form>
</div>
