<div class="container">
    <form class="form-inline" role="form">
     <legend>Turnazione:</legend>
     <div>
         <div class="form-group col-sm-6" >
             <label class="sr-only" for="modello">Scegli Modello :</label>
            <div>
                <select class="form-control">
                  <option value="mod1">Modello 1</option>
                  <option value="mod2">Modello 2</option>
                  <option value="mod3">Modello 3</option>
                  
                </select>
            </div>
         </div>
        <div class="form-group col-sm-2">
           <label class="sr-only" for="persona">Persona :</label>
           Cerca Persona: <input id="ricerca" ng-model="query">
              
        </div>
       
       <div class="form-group col-sm-4" style="color:blue" ng-show="query">
         <ul>
           <li ng-repeat="x in persone | orderBy:'nome' | filter:query">
                {{ x.nome + ', cod : ' + x.codice }}
           </li>
         </ul>
       </div>


     </div>

     
    </form>
   

</div>

<!--
<script>
            function PersoneCtrl($scope) {
              $scope.persone = [
                {"nome": "Giambanco", "codice": "GMBGPP82rvdscvsd3"},
                {"nome": "Tornabene", "codice": "TRBTND804557dfnf8"},
                
                {"nome": "Testaverde", "codice": "TSVGVNdfjfisdifd"}
              ];
            }  
</script>
-->

<!--
<div class="container">
    <form class="form-horizontal" role="form">
     <legend>Turnazione:</legend>
     <div class="row">
      <div class="span4">
         <div class="form-group">
             <label for="modello" class="span2">Scegli Modello :</label>
            <div class="span2">
                <select class="form-control">
                  <option>Modello 1</option>
                  <option>Modello 2</option>
                  <option>Modello 3</option>
                  <option>Modello 4</option>
                  <option>Modello 5</option>
                </select>
            </div>
         </div>
        </div>

       <div class="span8">
        <div class="form-group">
           <label for="persona" class="span2">Persona :</label>
              <div class="span6">  
                <select class="form-control">
                  <option>Persona 1</option>
                  <option>Persona 2</option>
                  <option>Persona 3</option>
                  <option>Persona 4</option>
                  <option>Persona 5</option>
                </select>
               </div> 
          </div>
        </div>
     </div>
    </form>
</div>
-->


<!--
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Modello
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Modello turno</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ad personam</a></li>
    
  </ul>
</div>






<div>
   <h2>Turnaziones</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTurnazioneModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Turnazione
    </button>
    <div class="modal fade" id="saveTurnazioneModal" tabindex="-1" role="dialog" aria-labelledby="myTurnazioneLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTurnazioneLabel">Create or edit a Turnazione</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="turnazione.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Turnazione</label>
                            <input type="text" class="form-control"
                                   ng-model="turnazione.turnazione">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Turnazione</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="turnazione in turnaziones">
                    <td>{{turnazione.id}}</td>
                    <td>{{turnazione.turnazione}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(turnazione.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(turnazione.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
-->