<html>
  <head>
    <style>

      #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
      }
        
      #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
      }
        
      #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
      }
        
      #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
      }
        
      #external-events p input {
        margin: 0;
        vertical-align: middle;
      }

    </style>
<script>

  $(document).ready(function() {


    /* initialize the external events
    -----------------------------------------------------------------*/

    $('#external-events .fc-event').each(function() {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true // maintain when user navigates (see docs on the renderEvent method)
      });

          //var eventObject l'ho messa io
       var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
                
        };
        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject);

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });
  

    });


    /* initialize the calendar
    -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },

      weekMode: 'liquid',
      firstDay: 1,
      allDaySlot : false,
      lazyFetching: false,
      monthNames:['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
      monthNamesShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
      dayNames: ['Domenica', 'Luned&igrave;', 'Marted&igrave;', 'Mercoled&igrave;', 'Gioved&igrave;', 'Venerd&igrave;', 'Sabato'],
      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
      buttonText: {
                    prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
                    next:     '&nbsp;&#9658;&nbsp;',  // right triangle
                    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
                    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
                    today:    'Oggi',
                    month:    'Mese',
                    week:     'Settimana',
                    day:      'Giorno'
      },
      columnFormat: {
              month: 'ddd',    // Mon
              week: 'd/M ddd', // Mon 9/7
              day: 'dddd d/M'  // Monday 9/7
      },
      editable: true,
      events: [
                {
                  title  : 'Prova 1',
                  start  : '2015-01-01',
                  end : '2015-01-03',
                  description : 'Questa è una prova'
                },
                {
                  title  : 'Prova 2',
                  start  : '2015-01-03',
                  description : 'Questa è una prova'
                },
                {
                  title  : 'Prova 3',
                  start  : '2015-01-04',
                  description : 'Questa è una prova'
                }

              ],
      droppable: true, // this allows things to be dropped onto the calendar
      drop: function(date, allDay) {
        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject');

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject);

        var today = new Date();

        // assign it the date that was reported
        copiedEventObject.id = today.getTime();
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
        
          
     },
      
      eventClick:  function(calEvent, jsEvent, view) {
            $('#modalTitle').html(calEvent.title);
            $('#modalBody').html(calEvent.description);
          // $('#eventUrl').attr('href',event.url);
            $('#fullCalModal').modal();
           // $('#calendar').fullCalendar('removeEvents',calEvent.elimina);  // aggiustare qui: inserire funzione per 
                                                                        //  ..eliminare eventi
        }, 
        
      dayClick: function() {
        alert('a day has been clicked!');
        },

        



      /*   Questo blocco funziona(finestra di alert)
      eventClick: function(calEvent) {
        if(confirm("Elimino dal calendario il modello per il giorno selezionato?")) {
                $.ajax({
                  
                  success: function(msg){
                        //alert(msg); //debug
                        $('#calendar').fullCalendar('removeEvents',calEvent.id);     
                  },
                  error: function() {
                        revertFunc();
                  }
                });
        }
      },
      */

      /*
      eventMouseover: function(calEvent) {
                                $(this).find('.fc-event-title').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'+calEvent.title);
                        }

       */

    });
  });

</script>

</head>
  <body>
    <div class="container">
      <form class="form-inline" role="form">
         <h2>Turnazione:</h2><br>
         
         <div class="row">
           <div class="form-group col-sm-6" >
             <label for="modello">Scegli Modello :</label>
             <div>
               <select class="form-control" ng-model="modello">
                 <option value="Modello 1">Modello 1</option>
                 <option value="Modello 2">Modello 2</option>
                 <option value="Modello 3">Modello 3</option>
               </select>
             </div>
           </div>
            
           <div class="form-group col-sm-2">
              <label for="persona">Cerca Persona:</label>
              <input id="ricerca" ng-model="query">
           </div>
           
           <div class="form-group col-sm-4" style="color:blue" ng-show="query">
             <ul>
               <li class="btn" type="none" ng-repeat="x in persone | orderBy:'nome' | filter:query" ng-click="toggle()">
                    {{ x.nome + ', cod : ' + x.codice }}
               </li>
             </ul>
           </div>
         </div>
         <br> <br>
         <div class="row">
           <div class="form-group col-sm-8">
             
              
            <div id="calendar" class="fc fc-ltr fc-unthemed"> </div>  

     
           </div>
           <div class="form-group col-sm-4" >
             
             <div id="external-events">
               <h4>Trascina modelli sul calendario</h4>
                  
               <div class="fc-event ui-draggable ui-draggable-handle" ng-repeat="(modello,value) in listaModelli" >{{modello}}</div>
                    
               <div class="fc-event ui-draggable ui-draggable-handle">Modello x</div>


               <!-- <div class="fc-event ui-draggable ui-draggable-handle" ng-show="modello">{{modello}}</div>
                   
               
               <div class="fc-event ui-draggable ui-draggable-handle">Modello x</div>
               <div class="fc-event ui-draggable ui-draggable-handle">Modello y</div>
               <div class="fc-event ui-draggable ui-draggable-handle">Modello z</div> -->
                  
                    
             </div>

             <div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <!-- <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button> -->
                <button class="btn btn-danger" id="elimina" data-dismiss="modal" ng-click ="">Elimina</button>
            </div>
        </div>
    </div>
</div>








           </div>
         </div>
      </form>
    </div> 
  </body>   
</html>